.form-group {
    margin: 1rem;
}

input {
    border-radius: 15px !important;
}

nav {
    display: flex;
    background-color: #fff;
    box-shadow: 1px -12px 22px 3px rgb(77, 134, 111);
    padding: 0.5rem;
}

nav img {
    width: 12%;
    display: flex;
    margin: auto;
}

.contenido {
    margin: auto;
    /* margin-left: 11rem; */
    width: 60%;
}

h1,
h2 {
    margin-top: 2rem;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    margin-bottom: 2rem;
    color: rgb(1, 66, 28);
}

a {
    text-decoration: none;
    margin-left: 1rem;
    color: rgb(19, 165, 109);
}

a:hover {
    color: rgb(13, 127, 74);
}

select.form-control {
    border-radius: 16px;
}

select.form-control:focus {
    border-color: rgb(37, 184, 115);
    box-shadow: -1px -1px 6px -2px rgb(78, 210, 137);
    transform: translateY(-3px);

}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(250, 250, 250);
    background-color: rgb(20, 179, 92);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 144, 0.4);
    color: rgb(5, 0, 0);
    transform: translateY(-7px);
}